/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    position: sticky;
  }
  
  /* Logo Section */
  .navbar-logo img {
    height: 54px;
    width: 225px;
  }

  